// .province {
//   cursor: pointer;
//   border-radius: 4px;
//   margin: 0 10px 0 20px;
// }

// .city {
//   cursor: not-allowed;
//   border-radius: 4px;
//   margin: 0 20px 0 10px;
// }

// .label {
//   margin-left: 40px;
// }

.input {
  width: 220px;
  height: 40px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 14px;
  color: #666;
  box-sizing: border-box;
}