@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot');
  src: url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.woff') format('woff'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_682850_58yfbhz7jvf.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'meituan';
  src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484);
    src: url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.eot?t=1503027869484#iefix) format('embedded-opentype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.woff?t=1503027869484) format('woff'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.ttf?t=1503027869484) format('truetype'),
    url(//s0.meituan.net/bs/fe-web-meituan/c19c6e9/font/home-category-iconfont.svg?t=1503027869484#home-category-iconfont) format('svg')
}

body * {
  margin: 0;
  padding: 0;
}

a {
  color: #999;
  &:hover,&:focus,a:visited {
    color: #999;
  }
}

:global(.ant-layout-header) {
  padding: 0;
  background: #F8F8F8;
  color: #999;
  width: 100%;
  font-size: 12px;
  height: 197px;
}

:global(.ant-layout-footer) {
  background-color:#f8f8f8;
  height: 100%;
}

:global(.ant-layout-content) {
  display: flex;
  justify-content: center;
}

.layout_default{
  -webkit-font-smoothing: antialiased;
  font-family: "-apple-system",
  BlinkMacSystemFont,
  Roboto,
  "Helvetica Neue",
  "MIcrosoft YaHei",
  sans-serif !important;
  background-color: #F8F8F8;
}